body   
{  
height: 125vh;  
background-size: cover;  
background-color: #026f80;
font-family: sans-serif;  
}  


header {  
background-color: #00ACC1;  
position: fixed;  
left: 0;  
right: 0;  
top: 0; 
height: 50px;  
display: flex;  
align-items: center; 
text-align: right; 
border-bottom: 1px solid lightgray;
}  

header * {  
display: inline;  
}  

header li {  
margin: 20px;  
}  

header li a {  
color: #11484F;  
text-decoration: none;  
}  

p {
    color:#c9f9ff;
}

li {
    color:  #c9f9ff;
}
h1 {
    color:#00ACC1;
    margin-top: 100px;
}

h2{
    color:#00ACC1;
}

h3 {
    color: #57ccdb;
}
input, textarea {
    background-color: #7be4f2;
}

label {
    color: #7be4f2;
}